<!DOCTYPE html>
<html lang="en">
<body>
<h1> Congratulations! Your form has been registered! </h1>
<!--<table class = "table table-stripped table-bordered table-sm">-->
<!--{%for Register in Registrations %}-->

<!--    <tr>-->
<!--        <td>{{Register.First_Name}}</td>-->
<!--        <td>{{Register.Last_Name}}</td>-->
<!--        <td>{{Register.password}}</td>-->
<!--        <td>{{Register.ReType_Pass }}</td>-->
<!--    </tr>-->
<!--</table>-->
<!--{% endfor %}-->

<center><a href="/register" class="btn btn-primary">ADD NEW RECORDS</a></center>

</body>
</html>